/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status

# generated gem/binary and any unpacked gem contents
*.gem
laa-fee-calculator-client*/

# Gemfile.lock since it enforces precision that does not exist in the gem command
Gemfile.lock
