---
http_interactions:
- request:
    method: get
    uri: https://laa-fee-calculator.service.justice.gov.uk/api/v1/fee-schemes/1/advocate-types/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"count":4,"next":null,"previous":null,"results":[{"id":"JRALONE","name":"Junior
        alone"},{"id":"LEADJR","name":"Leading junior"},{"id":"LEDJR","name":"Led
        junior"},{"id":"QC","name":"QC"}]}'
  recorded_at: Tue, 19 Dec 2023 14:20:51 GMT
- request:
    method: get
    uri: https://laa-fee-calculator.service.justice.gov.uk/api/v1/fee-schemes/1/advocate-types/JRALONE/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"id":"JRALONE","name":"Junior alone"}'
  recorded_at: Tue, 19 Dec 2023 14:20:51 GMT
- request:
    method: get
    uri: https://laa-fee-calculator.service.justice.gov.uk/api/v1/fee-schemes/1/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"id":1,"start_date":"2012-04-01","end_date":"2018-03-31","earliest_main_hearing_date":null,"type":"AGFS","description":"AGFS
        Fee Scheme 9"}'
  recorded_at: Tue, 19 Dec 2023 14:20:51 GMT
- request:
    method: get
    uri: https://laa-fee-calculator.service.justice.gov.uk/api/v1/fee-schemes/1/advocate-types/INVALID/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"detail":"Not found."}'
  recorded_at: Tue, 19 Dec 2023 14:20:51 GMT
[...]
- request:
    method: get
    uri: https://laa-fee-calculator.service.justice.gov.uk/api/v1/fee-schemes/2/advocate-types/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"count":0,"next":null,"previous":null,"results":[]}'
  recorded_at: Tue, 19 Dec 2023 14:20:51 GMT
recorded_with: VCR 6.1.0
