---
http_interactions:
- request:
    method: get
    uri: https://laa-fee-calculator.service.justice.gov.uk/ping.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"build_date": "2024-02-01T10:29:07+00:00", "build_tag": "main",
        "commit_id": "ed731ebfcd4d9825e7d407ae3cb3d96a935fa76e", "version_number":
        "4527"}'
  recorded_at: Tue, 06 Feb 2024 10:07:58 GMT
recorded_with: VCR 6.2.0
