---
http_interactions:
- request:
    method: get
    uri: https://laa-fee-calculator.service.justice.gov.uk/ping.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"build_date": "2023-12-15T11:41:56+00:00", "build_tag": "master",
        "commit_id": "0faa515c78919920036215ce6d6f3a7029fdd22e", "version_number":
        "4381"}'
  recorded_at: Tue, 19 Dec 2023 14:20:50 GMT
recorded_with: VCR 6.1.0
