---
http_interactions:
- request:
    method: get
    uri: https://laa-fee-calculator.service.justice.gov.uk/ping.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"build_date": "2022-04-07T08:43:55+00:00", "build_tag": "master",
        "commit_id": "361bdd724997c4355b8045acb0abcaa77076eb90", "version_number":
        "1541"}'
  recorded_at: Fri, 22 Apr 2022 14:14:38 GMT
recorded_with: VCR 6.1.0
