---
http_interactions:
- request:
    method: get
    uri: https://laa-fee-calculator.service.justice.gov.uk/ping.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"build_date": "2024-01-25T14:24:40+00:00", "build_tag": "master",
        "commit_id": "49cb2f8fb5f72ef94eeab7e349621a1bb008b7f4", "version_number":
        "4510"}'
  recorded_at: Fri, 26 Jan 2024 11:56:04 GMT
recorded_with: VCR 6.2.0
