---
http_interactions:
- request:
    method: get
    uri: https://laa-fee-calculator.service.justice.gov.uk/ping.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"build_date": "2025-03-06T13:38:24+00:00", "build_tag": "main", "commit_id":
        "487ead9c1205576c63cf3e83b71b6d61086686e0", "version_number": "6313"}'
  recorded_at: Wed, 12 Mar 2025 17:03:37 GMT
recorded_with: VCR 6.2.0
