---
http_interactions:
- request:
    method: get
    uri: https://laa-fee-calculator.service.justice.gov.uk/api/v1/fee-schemes/1/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"id":1,"start_date":"2012-04-01","end_date":"2018-03-31","earliest_main_hearing_date":null,"type":"AGFS","description":"AGFS
        Fee Scheme 9"}'
  recorded_at: Fri, 26 Jan 2024 11:56:36 GMT
- request:
    method: get
    uri: https://laa-fee-calculator.service.justice.gov.uk/api/v1/fee-schemes/1/fee-types/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"count":36,"next":null,"previous":null,"results":[{"id":4,"name":"Plea
        and case management hearing","code":"AGFS_PLEA","is_basic":false,"aggregation":"sum"},{"id":5,"name":"Abuse
        of process hearing (half day)","code":"AGFS_ABS_PRC_HF","is_basic":false,"aggregation":"sum"},{"id":6,"name":"Abuse
        of process hearing (full day)","code":"AGFS_ABS_PRC_WL","is_basic":false,"aggregation":"sum"},{"id":7,"name":"Adjourned
        appeals","code":"AGFS_ADJOURNED","is_basic":false,"aggregation":"sum"},{"id":8,"name":"Appeals
        to crown court against conviction","code":"AGFS_APPEAL_CON","is_basic":false,"aggregation":"sum"},{"id":9,"n[...]
- request:
    method: get
    uri: https://laa-fee-calculator.service.justice.gov.uk/api/v1/fee-schemes/1/fee-types/4/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"id":4,"name":"Plea and case management hearing","code":"AGFS_PLEA","is_basic":false,"aggregation":"sum"}'
  recorded_at: Fri, 26 Jan 2024 11:56:36 GMT
- request:
    method: get
    uri: https://laa-fee-calculator.service.justice.gov.uk/api/v1/fee-schemes/1/fee-types/?is_basic=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"count":1,"next":null,"previous":null,"results":[{"id":34,"name":"Advocate
        fee","code":"AGFS_FEE","is_basic":true,"aggregation":"sum"}]}'
  recorded_at: Fri, 26 Jan 2024 11:56:36 GMT
- request:
    method: get
    uri: https://laa-fee-calculator.service.justice.gov.uk/api/v1/fee-schemes/1/fee-types/?scenario=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"count":30,"next":null,"previous":null,"results":[{"id":4,"name":"Plea
        and case management hea[...]
- request:
    method: get
    uri: https://laa-fee-calculator.service.justice.gov.uk/api/v1/fee-schemes/1/fee-types/?advocate_type=QC
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"count":36,"next":null,"previous":null,"results":[{"id":4,"name":"Plea
        and case manageme[...]
- request:
    method: get
    uri: https://laa-fee-calculator.service.justice.gov.uk/api/v1/fee-schemes/1/fee-types/?offence_class=A
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"count":36,"next":null,"previous":null,"results":[{"id":4,"name":"Plea
        and case managemen[...]
- request:
    method: get
    uri: https://laa-fee-calculator.service.justice.gov.uk/api/v1/fee-schemes/1/fee-types/?fee_type_code=AGFS_FEE
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"count":1,"next":null,"previous":null,"results":[{"id":34,"name":"Advocate
        fee","code":"AGFS_FEE","is_basic":true,"aggregation":"sum"}]}'
  recorded_at: Fri, 26 Jan 2024 11:56:37 GMT
- request:
    method: get
    uri: https://laa-fee-calculator.service.justice.gov.uk/api/v1/fee-schemes/1/fee-types/1001/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"detail":"Not found."}'
  recorded_at: Fri, 26 Jan 2024 11:56:37 GMT
- request:
    method: get
    uri: https://laa-fee-calculator.service.justice.gov.uk/api/v1/fee-schemes/1/fee-types/?is_basic=true&scenario=8
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"count":0,"next":null,"previous":null,"results":[]}'
  recorded_at: Fri, 26 Jan 2024 11:56:37 GMT
[...]
