---
http_interactions:
- request:
    method: get
    uri: https://laa-fee-calculator.service.justice.gov.uk/api/v1/fee-schemes/1/offence-classes/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"count":11,"next":null,"previous":null,"results":[{"id":"A","name":"A","description":"Homicide
        and related grave offences"},{"id":"B","name":"B","description":"Offences
        involving serious violence or damage and serious drug offences"},{"id":"C","name":"C","description":"Lesser
        offences involving violence or damage, and less serious drug offences"},{"id":"D","name":"D","description":"Serious
        sexual offences and offences against children"},{"id":"E","name":"E","description":"Burglary,
        etc"},{"id":"F","name":"F","description":"Other offences of dishonesty"},{"id":"G","name":"G","description":"Other
        offences of dishonesty"},{"id":"H","name":"H","description":"Miscellaneous
        other offences"},{"id":"I","name":"I","description":"Offences against public
        justice and similar offences"},{"id":"J","name":"J","description":"Serious
        sexual offences"},{"id":"K","name":"K","description":"Other offences of dishonesty
        (high value)"}]}'
  recorded_at: Wed, 12 Mar 2025 17:04:48 GMT
- request:
    method: get
    uri: https://laa-fee-calculator.service.justice.gov.uk/api/v1/fee-schemes/1/offence-classes/A/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"id":"A","name":"A","description":"Homicide and related grave offences"}'
  recorded_at: Wed, 12 Mar 2025 17:04:48 GMT
- request:
    method: get
    uri: https://laa-fee-calculator.service.justice.gov.uk/api/v1/fee-schemes/1/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"id":1,"start_date":"2012-04-01","end_date":"2018-03-31","earliest_main_hearing_date":null,"type":"AGFS","description":"AGFS
        Fee Scheme 9"}'
  recorded_at: Wed, 12 Mar 2025 17:04:48 GMT
- request:
    method: get
    uri: https://laa-fee-calculator.service.justice.gov.uk/api/v1/fee-schemes/1/offence-classes/INVALID/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"detail":"No OffenceClass matches the given query."}'
  recorded_at: Wed, 12 Mar 2025 17:04:48 GMT
recorded_with: VCR 6.2.0
